[submodule "easy_handeye2"]
	path = easy_handeye2
	url = git@github.com:marcoesposito1988/easy_handeye2.git
[submodule "Universal_Robots_ROS2_Driver"]
	path = Universal_Robots_ROS2_Driver
	url = git@github.com:Prottay-Roy-Chowdhury/Universal_Robots_ROS2_Driver.git
	branch = jazzy
